/* @theme front-end */

@import-theme 'uncover';

$fontFamily: "../assets/font/yuyang.ttf";

$color1: #0089ff;
$color2: #ff7600;

@font-face {
  font-family: "yuyang";
  src: url($fontFamily);
}

:root {
  font-family: yuyang;
  letter-spacing: 0.1rem;
}


section {
  align-items: center;

  &[id="1"] {
    header {
      &::after {
        content: none;
      }
    }
  }

  header {
    background: no-repeat url(../assets/imgs/logo.svg);
    background-size: contain;
    height: 45px;
    display: flex;
    justify-content: flex-end;

    &::after {
      content: '';
      width: 100px;
      background: url(../assets/imgs/logo-react.svg) no-repeat;
      background-position: right;
    }
  }

  h1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: url(../assets/imgs/logo-react.svg) no-repeat;
    background-position: left center;
    background-size: 150px;
    padding-left: 180px;

    strong {
      color: #000;
      font-size: .5em;
    }
  }


  p,
  li {
    code {
      color: $color2;
      background-color: transparent;
      padding: 0;
      margin: 0;
    }
  }

  p {
    // border: solid;
  }

  pre {
    background: transparent;

    code {
      background: transparent;
      line-height: 1.2;
    }
  }


}