/* @theme main */
@import-theme "uncover";

:root {
    --color1: #0089ff;
    --color2: #ff7600;

}

section p code,
section li code {
    background-color: transparent;
    color: var(--color2);
}

section header{
    background-color: #ff7600;
}